* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --hieght-header: 80px;
}

.mt {
  margin-top: 30px;
}

.mb {
  margin-bottom: 80px;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.headerLeft {
  width: 10%;
  height: 80px;
}

.logo {
  width: 100%;
  height: var(--hieght-header);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.headerCenter {
  width: 40%;
  height: var(--hieght-header);
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  padding: 30px 15px;
}

a {
  text-decoration: none;
  color: #1f2125;
  font-weight: 500;
  font-size: var(--font-size);
}

a:hover {
  color: #3498db;
}

.headerRight {
  width: 25%;
  height: var(--hieght-header);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.buttonUser {
  width: 90%;
  height: var(--hieght-header);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightbutton {
  display: inline-block;
  padding: 15px 24px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.rightbutton:hover {
  background: #fff;
  color: #007bff;
}

.navbar {
  width: 10%;
  height: var(--hieght-header);
}

.navbar img {
  margin-top: 25px;
}

#navbar {
  display: none;
}

#toggleButton {
  display: inline-block;
  padding: 15px 24px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.content {
  width: 100%;
  height: auto;
}

/* silder */
.mySlides {
  width: 100%;
  height: 800px;
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 800px;
  position: relative;
  margin: auto;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30pt;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.secttionOne {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.buttonchoie {
  width: 50%;
  height: 70px;
  align-items: center;
}

.choie {
  display: inline-block;
  padding: 15px 24px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #3c3c3c;
  background: #fff;
  border: none;
}

.choie:hover {
  color: #007bff;
}

.buttonchoie {
  width: 65%;
  height: auto;
}

.buttonchoie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 30px;
  /* background: green; */
}

.buttoninformation {
  width: 200px;
  height: 50px;
  /* background: gold; */
}

.buttonByandSeedetails {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttoninformation button {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border-width: 1px #007bff;
  border-radius: 5px;
  transition: background-color 0.8s ease;
  text-transform: uppercase;
  border: #007bff;

}

.buttoninformation button:hover {
  background: #fff;
  color: #007bff;
}

.infor {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.contentBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.box {
  flex: 1;
  border: 0px solid #ccc;
  padding: 8px;
  text-align: center;
  /* background: gold; */
}

.box p {
  color: #3c3c3c;
  font-weight: 600;
  grid-area: auto;
  letter-spacing: -0.32px;
  line-height: 24px;
  text-align: center;
}

p {
  font-size: 24px;
  color: #3c3c3c;
}

.secttionTwo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.detail {
  width: 65%;
  height: auto;
  display: flex;
  gap: 30px;
}

.detailLeft {
  width: 50%;
  height: 840px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}

.rowOne {
  width: 100%;
  height: 405px;
  position: relative;
  overflow: hidden;
}

.rowOne:hover .titlelLef {
  bottom: 0;
}

.images {
  width: 100%;
  height: 405px;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.titlelLef {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  z-index: 2;
  transition: bottom 0.8s ease;
  background-color: rgba(0, 0, 0, 0.2);
}

h3 {
  bottom: 99%;
  z-index: 2;
  position: absolute;
  color: #fff;
  font-size: 20pt;
  font-weight: 500;
}

.titlelLef p {
  color: #fff;
  font-size: 10pt;
  line-height: 25px;
  margin-bottom: 10px;
}

.titlelLef span {
  color: #fff;
  text-transform: uppercase;
  font-size: 12pt;
}

.rowTwo {
  width: 100%;
  height: 405px;
  background: grey;
  overflow: hidden;
  position: relative;
}

.rowTwo:hover .titlelLef {
  bottom: 0;
}

.imagesRight {
  width: 100%;
  height: 300px;
}

.imagesRight img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.detailRight {
  width: 50%;
  height: 840px;
}

.rowThree {
  width: 100%;
  height: auto;
}

.titltext {
  width: 100%;
  height: 250px;
  margin-top: 15px;
}

h4 {
  padding: 10px 0px;
  font-size: 18pt;
  font-weight: 400;
}

.titltext p {
  font-size: 10pt;
  line-height: 25px;
}

.titltext span {
  color: #007bff;
  text-transform: uppercase;
  font-size: 10pt;
  margin-top: 10px;
}

.imagesRight {
  width: 100%;
  height: 450px;
}

.imagesRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secttionThree {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background: #D6DCE1;
  margin-top: 80px;
}

.row {
  width: 100%;
  height: 700px;
  /
}

.warrantyService {
  width: 100%;
  height: 700px;
  /* background: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.warrantyServiceText {
  width: 40%;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  /* background: gold; */
}

.textContent {
  width: 49%;
  height: 220px;
  /* background: palegreen; */
}

.warrantyServiceImage {
  width: 50%;
  height: 500px;
  /* background:green; */
}

.warrantyServiceImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.warrantyServiceText p {
  font-size: 10pt;
  line-height: 24px;
  margin-bottom: 10px;
}

.buttonwarrantyService {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.buttonThree {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #007bff;
  color: #fff;
  /* border-width: 1px #007bff; */
  border-radius: 5px;
  transition: background-color 0.8s ease;
  text-transform: uppercase;
  border: #007bff;
}

.buttonwarrantyService button:hover {
  background: #fff;
  color: #007bff;
}

.secttionFour {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowFour {
  width: 65%;
  height: 513px;
  position: relative;
}

.imageFour {
  width: 100%;
  height: 513px;

}

.imageFour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textFour {
  width: 330px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 60%;
  box-sizing: border-box;
  z-index: 2;
}

.textFour p {
  font-size: 10pt;
  line-height: 24px;
  color: #fff;
}

.buttonFour {
  padding: 12px 18px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #007bff;
  /* border-width: 1px #007bff; */
  transition: background-color 0.8s ease;
  text-transform: uppercase;
  border: #007bff
}

.buttonFour:hover {
  background: #007bff;
  color: #fff;

}

.secttionFive {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.sectionContent {
  width: 65%;
  height: 350px;
  gap: 30px;
  display: flex;
}

.sectionFiveBox {
  width: 50%;
  height: 350px;
  background: grey;
  overflow: hidden;
  position: relative;
}

.fiveImage {
  width: 100%;
  height: 350px;

}

.fiveImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fiveText {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  z-index: 2;
  transition: bottom 0.8s ease;
  background-color: rgba(0, 0, 0, 0.2);
}

.sectionFiveBox:hover .fiveText {
  bottom: 0;
}

.fiveText a {
  color: #fff;
  text-transform: uppercase;
  font-size: 10pt;
}

.secttionSix {
  width: 100%;
  height: 360px;
  margin-bottom: 30px;
  background: #bbb;

}

.secttionSix img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.footerboxOne {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  /* background: gold; */
}

.footerText {
  width: 80%;
  height: 300px;
  margin-left: 20px;
}

.boxoneConten p {
  font-size: 14pt;
  color: #3c3c3c;
  grid-area: auto;
  letter-spacing: -0.32px;
  line-height: 24px;
  margin: 20px 0px 0px;
  text-align: left;
  font-size: 10pt;
}

.footerboxTwo {
  width: 50%;
  height: 300px;
  display: flex;
  /* background: gray; */
}

.boxtwoLeft {
  width: 50%;
  height: 300px;
  /* background: red; */
}

.boxtwoLeft a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 12px;
  text-transform: uppercase;
  font-size: 10pt;
}

.boxtwoRight {
  width: 50%;
  height: 300px;
  /* background: gold; */
}

.boxtwoRight a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 12px;
  text-transform: uppercase;
  font-size: 10pt;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {}


@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }

  .menumobile {
    flex-direction: column;
    text-align: left;
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 0%;
    background-color: #fff;
  }

  ul {
    flex-direction: column;
  }

  .menumobile li {
    margin: 25px 55px;
    list-style: none;

  }

  /* .account{
    opacity: 0;
  } */
  .headerRight {
    width: 10%;
  }

  .headerLeft {
    width: 10%;
  }

  .buttonUser {
    display: none;
  }

  .headerCenter {
    width: 0;
  }

  #navbar.show {
    display: block;
  }

  .slideshow-container {
    height: 390px;
  }

  .mySlides {
    height: 360px;
  }

  .dot {
    width: 9px;
    height: 9px;
    margin: 0;
  }

  .text {
    font-size: 10px;
  }

  .mt {
    margin-top: 0;
  }

  .choie {
    padding: 14px 5px;
    font-size: 14px;
  }

  .buttonchoie {
    width: 100%;
    height: auto;
  }

  /* .information {
    margin-top: 60px;
  } */

  .infor {
    width: 100%;
    height: 150px;
    /* background: red; */
  }

  .information {
    height: 70px;
  }

  .contentBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 600px;
  }

  .box {
    padding: 10px;
    text-align: center;
  }

  .buttonByandSeedetails {}

  .titleText p {
    font-size: 11px;
  }

  .mb {
    margin-bottom: 0px;
  }


}